{% extends 'base.html.twig' %}

{% block title %}Service {% endblock %}

{% block body %}
    <h1>Liste Service<a class="btn btn-dark" href="{{ path('service') }}"  style="float: right;">Ajouter</a></h1>
    
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in service %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.libser }}</td>
                <td>
                   <a href="{{ path('service.delete', {'id': service.id}) }}">
                        <i class="fas fa-trash"></i>   
                    Suprimer</a>
                    <a href="{{ path('service.edite', {'id': service.id}) }}">
                        <i class="fas fa-pen"></i>
                    Editer</a> 
                </td>
            </tr>
      
           
        {% endfor %}
        </tbody>
    </table>

{% endblock %}